body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.colorful-name {
    color: rgb(233, 111, 41);
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.second-half-width img {
    width: 70%;
    padding-left: 20%;
    padding-top: 10%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.top-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}